@model BookSeatViewModel

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

@{
    ViewData["Title"] = "Book seat";
}

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <form method="post">

            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <p class="mb-0">
                    <i class="fas fa-passport d-inline"></i>
                    <label asp-for=@Model.Seat.Id></label>
                </p>
                <select asp-for=@Model.Seat.Id class="form-control">
                    <option></option>
                    @foreach (var flight in Model.Flights)
                    {
                        <option value="@flight">@flight</option>
                    }
                </select>
                <span asp-validation-for=@Model.Seat.Id class="text-danger font-weight-bold"></span>
            </div>

            <div class="form-group">
                <p class="mb-0">
                    <i class="far fa-paper-plane"></i>
                    <label asp-for=@Model.Seat.AirlineName></label>
                </p>
                <select asp-for=@Model.Seat.AirlineName class="form-control">
                    <option></option>
                    @foreach (var airline in Model.Airlines)
                    {
                        <option value="@airline">@airline</option>
                    }
                </select>
                <span asp-validation-for=@Model.Seat.AirlineName class="text-danger font-weight-bold"></span>
            </div>

            <div class="form-group dropdownCss">
                <label asp-for=@Model.Seat.Row></label>
                <input type="number" asp-for=@Model.Seat.Row class="form-control" />
                <span asp-validation-for=@Model.Seat.Row class="text-danger font-weight-bold"></span>
                <div class="dropdownCss-content">
                    <p>@SEAT_ROW_TOOlTIP</p>
                </div>
            </div>

            <div class="form-group">
                <label asp-for=@Model.Seat.Column></label>
                <select asp-for=@Model.Seat.Column class="form-control">
                    <option></option>
                    <option value='A'>A</option>
                    <option value='B'>B</option>
                    <option value='C'>C</option>
                    <option value='D'>D</option>
                    <option value='E'>E</option>
                    <option value='F'>F</option>
                    <option value='G'>G</option>
                    <option value='H'>H</option>
                    <option value='I'>I</option>
                    <option value='J'>J</option>
                </select>
                <span asp-validation-for=@Model.Seat.Column class="text-danger font-weight-bold"></span>
            </div>

            <div class="form-group dropdownCss">
                <label asp-for=@Model.Seat.SeatClass></label>
                <select asp-for=@Model.Seat.SeatClass class="form-control">
                    <option></option>
                    <option value="1">First class</option>
                    <option value="2">Business class</option>
                    <option value="3">Economy class</option>
                </select>
                <span asp-validation-for=@Model.Seat.SeatClass class="text-danger font-weight-bold"></span>
            </div>


            <div class="form-group">
                <button type="submit">Book seat</button>
            </div>
            <span class="text-danger" id="result">@TempData["Result"]</span>
        </form>
        <div id="testData"></div>
    </div>
</div>