@model CreateFlightViewModel

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            console.log('load');
            console.log($('date').val);
        });
    </script>
}

@{
    ViewData["Title"] = "Create flight";
}

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <form method="post">

            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group dropdownCss">
                <p class="mb-0">
                    <i class="fas fa-passport d-inline"></i>
                    <label asp-for="Id"></label>
                </p>
                <input type="text" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger font-weight-bold"></span>
                <div class="dropdownCss-content">
                    <p>@Model.IdHelp</p>
                </div>
            </div>

            <div class="form-group">
                <p class="mb-0">
                    <i class="far fa-paper-plane"></i>
                    <label asp-for="AirlineName"></label>
                </p>
                <select asp-for="AirlineName" class="form-control">
                    <option></option>
                    @foreach (var airline in Model.Airlines)
                    {
                        <option value="@airline">@airline</option>
                    }
                </select>

                <span asp-validation-for="AirlineName" class="text-danger font-weight-bold"></span>
            </div>

            <div class="form-group">
                <p class="mb-0">
                    <i class="fas fa-plane-departure"></i>
                    <label asp-for="Origin"></label>
                </p>
                <select asp-for="Origin" class="form-control">
                    <option></option>
                    @foreach (var airport in Model.Airports)
                    {
                        <option value="@airport">@airport</option>
                    }
                </select>
                <span asp-validation-for="Origin" class="text-danger font-weight-bold"></span>
            </div>

            <div class="form-group">
                <p class="mb-0">
                    <i class="fas fa-plane-arrival d-inline"></i>
                    <label asp-for="Destination"></label>
                </p>
                <select asp-for="Destination" class="form-control">
                    <option></option>
                    @foreach (var airport in Model.Airports)
                    {
                        <option value="@airport">@airport</option>
                    }
                </select>
                <span asp-validation-for="Destination" class="text-danger font-weight-bold"></span>
            </div>

            <div class="form-group">
                <p class="mb-0">
                    <i class="far fa-calendar-alt"></i>
                    <label asp-for="Date" class="control-label"></label>
                </p>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger font-weight-bold"></span>
            </div>

            <div class="form-group">
                <button type="submit">Create flight</button>
            </div>
            <span class="text-danger" id="result">@TempData["Result"]</span>
        </form>
    </div>
</div>