@model DisplaySystemDetailsViewModel

@section Scripts {
    <script>
        $('.seats').hide();
        $('.sections').hide();
        $('.flights').hide();
        $('#airports').hide();
        $('#airlines').hide();
    </script>
}

@{
    ViewData["Title"] = "Display system details";
}

<div class="col-md-6 offset-md-3" id="container">
    <div class="card card-body bg-light">
        <label asp-for="@Model.AirportsTitle" id="airportLabel" class="font-weight-bold selectObj">@Model.AirportsTitle</label>
        <ul id="airports">
            @foreach (var airport in Model.AirporstList)
            {
                <li>@airport</li>

            }
        </ul>
        <label id="airlineLabel" class="font-weight-bold selectObj">@Model.AirlinesTitle</label>
        <div id="airlines">
            @foreach (var airline in Model.AirlinesList)
            {
                <h6 class="airlineTitle selectObj">@airline.Title</h6>
                <ul class="flights">
                    @Html.Partial("_FlightView", airline.Flights)
                </ul>
            }
        </div>
    </div>
</div>