@model FindAvaibleFlightsViewModel

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $('.seats').hide();
        $('.sections').hide();
    </script>
}

@{
    ViewData["Title"] = "Find avaiable flights";
}

<div class="col-md-6 offset-md-3" id="container">
    <div class="card card-body bg-light">
        <form method="post">

            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <p class="mb-0">
                    <i class="fas fa-plane-departure"></i>
                    <label asp-for=@Model.Flight.Origin></label>
                </p>

                <select asp-for=@Model.Flight.Origin class="form-control">
                    <option></option>
                    @foreach (var airport in Model.Airports)
                    {
                        <option value="@airport">@airport</option>
                    }
                </select>
                <span asp-validation-for=@Model.Flight.Origin class="text-danger font-weight-bold"></span>
            </div>

            <div class="form-group">
                <p class="mb-0">
                    <i class="fas fa-plane-arrival d-inline"></i>
                    <label asp-for=@Model.Flight.Destination></label>
                </p>
                <select asp-for=@Model.Flight.Destination class="form-control">
                    <option></option>
                    @foreach (var airport in Model.Airports)
                    {
                        <option value="@airport">@airport</option>
                    }
                </select>
                <span asp-validation-for=@Model.Flight.Destination class="text-danger font-weight-bold"></span>
            </div>

            <div class="form-group">
                <button type="submit">Find flights</button>

            </div>

        </form>
        <span class="text-danger">@Model.Error</span>
        <partial name="_FlightView"model="@Model.Flights">
    </div>
</div>